*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar{
    background : #B39D81;
    width: 100%;
    /* height: 90vh; */
    height: 72px;
    display: flex;
    /* flex-wrap: wrap; */
}
.nav-list{
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    align-items: center;
    list-style-type:none;
}
.nav-list li a{
    text-decoration: none;
    color: #ffff;
    font-family: sans-serif;
}
.search-navbar{
    width: 40%;
}
#search{
    position: absolute;
    width: 518px;
    height: 35px;
    background-color: #F8F4F0;
    border-radius: 6px;
    left: 684px;
    top: 19px;
    border: none;
}
.search-navbar input{
    padding-left: 20px;
    font-size: 16px;
    font-style: normal;
 }

.btn{
    position: absolute;
    background: #9C4A2F;
    border-radius: 6px;
    width: 41px;
    height: 35px;
    left: 1161px;
    top: 19px;
    border: none;

}
.left-navbar{
    display: flex;   
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
    
}
.navbar-2{
    width: 100%;
}
/* -------------------------sale navbar----------------- */
.sale-navbar{
    width: 100%;
    height: 51px;
    color: #ffff;
    background-color: #9C4A2F;
    font-family: sans-serif;
    display: flex   ;
    justify-content: center;
    align-items: center;  
}
.time-1{
    /* border: 2px solid black; */
    width: 23px;
    color: black;
    background-color: #ffff;
    margin-left: 5px;
    border-radius: 5px;
    text-align: center;
}
.time-2{
    /* border: 2px solid black; */
    width: 23px;
    color: black;
    background-color: #ffff;
    margin-left: 5px;
    border-radius: 5px;
    text-align: center;
    
    
}
.time-3{
    /* border: 2px solid black; */
    width: 23px;
    color: black;
    background-color: #ffff;
    margin-left: 5px;
    border-radius: 5px;
    text-align: center
}
.time{
    margin-left: 5px;
}



/* --------------------------------------media query------------- */
/* -----------------for laptop width 1440 */
@media screen and (max-width:1440px){
            .navbar-2{
                /* width: 50%; */
                order: -1;
            }
    .search-navbar{
        width: 40%;
    }
    #search{
        position: absolute;
        width: 518px;
        height: 35px;
        background-color: #F8F4F0;
        border-radius: 6px;
        left: 613px;
        top: 19px;
        border: none;
    }
    .btn{
        position: absolute;
        background: #9C4A2F;
        border-radius: 6px;
        width: 41px;
        height: 35px;
        left: 1091px;
        top: 19px;
        border: none;
    
    }
} 
/* -----------------------------end ---------------------- */
/* --------------------------for laptop  width1024 --------------- */


@media screen and (max-width:1024px) {
    .navbar{
        background : #B39D81;
        position: absolute;
        width: 100%;
        height: 72px;
        left: 0px;
        top: 0px;
        display: flex;
    }
    .nav-list {
        display: flex;
        width: 48%;
        justify-content: space-evenly;
        align-items: center;
        list-style-type: none;
    }
    .search-navbar {
        width: 38%;
    }
    #search {
        position: absolute;
        width: 361px;
        height: 32px;
        background-color: #F8F4F0;
        border-radius: 6px;
        left: 466px;
        top: 19px;
        border: none;
    }
    .btn {
        position: absolute;
        background: #9C4A2F;
        border-radius: 6px;
        width: 41px;
        height: 32px;
        left: 786px;
        top: 19px;
        border: none;
    }
    
}
/* ---------navbar-2---------------------------------------------- */

.navbar-2{
    border: 2px solid red;
}

